<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/resources/|" />
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script>

     /*$("#wayBack").onblur(function () {
         var way = $("#wayBack").val();
         if(way == "yx"){
                alert("youxiang")
         }else if(way == "dx"){
             alert("duanxin")
         }
     })*/

     function findPassword(btn) {
         var way = $("#wayBack").val();
         var username = $("#username").val();

         if (username != null && username.trim() !=""){
             if (way == "yx"){
                 btnHandler(btn);
                 $.ajax({
                     type: "POST",
                     url: "[[${#request.getContextPath()}]]/sso/findPassword",
                     data: {"username":username},
                     success: function (data) {
                            if (data.code == "0000"){
                                alert("0000000000")
                                $("#msg").html("邮件已经发送至注册邮箱："+data.data.mailInfo+"<a href='"+data.data.emailUrl+"'>去邮箱</a>");
                            }else {
                                $("#msg").html("<font color='red'>" + data.msg + "</font>");
                                time = 10;
                                $(btn).removeAttr("disabled");
                                $(btn).html("找回密码");
                                clearTimeout(timeout);
                            }
                     },
                     dataType: "json"
                 });

             }else  if (way == "dx"){
                 alert("短信")
             }
         }else{
             alert("用户名不能为空")
         }
         var time = 10;
         var timeout;
         function btnHandler(btn) {

             if(time == 0){
                 time = 10;
                 $(btn).removeAttr("disabled");
                 $(btn).html("找回密码");
                 return;
             }

             $(btn).attr("disabled","disabled");
             $(btn).html("邮件已经发送,等待"+time+"秒后重试");

             timeout= setTimeout(function () {
                 time--;
                 btnHandler(btn);
             },1000)
         }

     }



    </script>

</head>
<body>
    <h1>忘记密码</h1>
    选择找回方式：
    <select id="wayBack">
        <option value="yx">邮箱</option>
        <option value="dx">短信</option>
    </select>
    <br/>
    用户名<input type="text" id="username" name="username"/><span id="msg"></span><br/>
    <button type="button" onclick="findPassword(this);">找回密码</button>
</body>
</html>